@import url(./form.style.css);
@import url(./button.style.css);

/* 폰트 */
/* font-family: "Lato", sans-serif; */
/* font-family: "Noto Sans KR", sans-serif; */

/* 공통 */
.user-page {
    padding: 50px 0;
}

.no-contents {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.order-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    letter-spacing: 0;

    &.preparing {
        background-color: grey;
    }

    &.shipping {
        background-color: darkorange;
    }

    &.refund {
        background-color: brown;
    }

    &.delivered {
        background-color: green;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ml-2 {
    margin-left: 20px;
}

.space-between {
    justify-content: space-between;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 20px !important;
}

.list-style-none {
    list-style: none;
}

.display-center {
    display: flex;
    justify-content: center;
}

.display-space-between {
    display: flex;
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.overflow-x {
    overflow-x: auto;
    width: 100%;

}

.overflow-x::-webkit-scrollbar {
    display: none;
}

.vh-100 {
    height: 100vh;
}


@media (max-width: 768px) {

    /* 공통 */
    .user-page {
        padding: 0 0 20px;
    }

    .no-contents {
        font-size: 16px;
    }
}